.Navbar{
    height: 80px;
    width: 100%;
    padding: 25px 0 25px 0;
    z-index: 2;


    .Wrapper{
        display: flex;
        float: right;
        align-items: center;
        justify-content: center;
        padding: 10px 25px 10px 25px;
        .Sections{
            display: flex;
            align-items: center;
            gap: 25px;

            color : rgba(255, 255, 255, 0.7);
            font-size: 1.8rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            .Link-Btn{
                border: 3px solid #9F49D4;
                padding: 2px 10px 2px 10px;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color:rgba(159, 73, 212, 0.7);
                    color: white;
                    
                }


            }


            
        }
        
    }

}