.Navbar{
    height: 80px;

    .Wrapper{
        display: flex;
        float: right;
        align-items: center;
        padding: 10px 25px 10px 25px;
        .Sections{
            display: flex;
            align-items: center;
            gap: 25px;

            color : #808be5;
            font-size: 1.8rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            .Link-Btn{
                border: 3px solid #9F49D4;
                padding: 2px 10px 2px 10px;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: #9F49D4;
                    color: white;
                }

            }


            
        }
        
    }

}