.Parallax{
    display: flex;
    flex-direction: column;
    position: relative;

    .parallax-container{
        margin-top: -130px;
        display: flex;
        justify-content: space-between;

        .prison-bar{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .prison-bar.bar-1{
            z-index: 1;
        }

        .prison-bar.bar-2{
            position: relative;
            .LH{
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-58%, -47%);
            }
        }

        .prison-bar.bar-4{
            position: relative;
            .RH{
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-45%, -48%);
            }
        }



    }

    .Logo{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;

        color: #fafafa;
        font-size: 3rem;

        .S{
            color:#E90064 ;
        }
        .B{
            color:#865DFF ;
        }
    }


}